:root {
  background: #000;
  color-scheme: dark;
}

html,
html > body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

html {
  width: 100%;
  height: 100%;
}

html > body {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

body > .polycss-camera {
  position: absolute !important;
  inset: calc(50% - 360px) auto auto calc(50% - 360px) !important;
  width: 720px !important;
  height: 720px !important;
  scale: 1;
  transform-origin: 50% 50%;
}
